.ui.borderless.topmenu.menu {
	margin-bottom: 0px;
}

.ui.left.menu {
	border: none;
	box-shadow: none;
	padding-bottom: 10px;
}

.ui.center.menu {
	border: none;
	box-shadow: none;
	padding-top: 20px;

	font-size: 6vh;
	font-family: Tangerine;
	font-weight: bold;
	align-content: center;
	text-align: center;
	margin-left: auto;

}

.webname {
	position: absolute;
	padding-top: 10px;
	font-size: xx-large;

	align-content: center;
	text-align: center;
}

.ui.inverted.centered.menu {
	margin-top: 0px;
	text-align: left;
	align-content: center;
	width: auto;
	margin-top: 0px;
	padding-top: 0px;
}

.right.menu {
	padding-top: 30px;
	padding-right: 20px;
	border: none;
	box-shadow: none;

	font-family: "Arial Narrow";
	font-size: 3vh;
	font-style: oblique;
	font-weight: lighter;

}

.facebook.f.icon {
	width: 30px;
	size: 2vw;
	padding: 10%;

}

.instagram.icon {
	width: 30px;
	size: 2vw;
	padding: 10%;
}

.twitter.icon {
	width: 30px;
	size: 2vw;
	padding: 10%;
}

.mail.icon {
	width: 30px;
	size: 2vw;
	padding: 10%;
}

.main {
	text-align: center;
}

.ui.form {
	margin-top: 20px;
	margin-left: 30%;
}

